.sidebar {
    display: inline-block;
    float: left;
    width: 200px;
    height: calc(100vh - 100px);
    background-color: grey;
    margin-top: 150px;
    padding: 50px 0px;
    text-align: center;

    h3 {
        color: white;
    }
}